.switch-field {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 2px;
  background-color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-radius: 0 4px 4px 0;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: all 0.1s ease-in-out;
  background-color: rgb(247, 242, 242);
  text-align: center;
  border-radius: 4px;
  height: 100%;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #dc3545;
  color: #fff;
  box-shadow: none;
}

.switch-field label:first-of-type {
  /* margin-right: 3px; */
}

.switch-field label:last-of-type {
  /* border-radius: 0 4px 4px 0; */
}

.img-preview {
  max-width: 100px;
  max-height: 100px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  cursor: pointer;
}

/* .img-preview.img::before {
  content: "File format JPG atau JPEG, ukuran maksimal 3MB";
}

.img-preview.doc::before {
  content: "File format PDF, ukuran maksimal 10MB";
} */

.filename {
  font-size: medium;
  color: #c4c4c4;
}

.btn-input-file {
  background: #ffffff;
  border: 1px solid #122661;
}

.autocomplete_li:hover {
  background-color: #dc3545;
  color: #fff;
  font-weight: 500;
}
